@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rethink-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 0.05;
    transform: scale(1);
  }

  50% {
    opacity: 0.08;
    transform: scale(1.05);
  }
}

.animate-pulse {
  animation: pulse 8s infinite ease-in-out;
}