@theme {
    --color-azure-blue-50: oklch(97.24% 0.014 247.97);
    --color-azure-blue-100: oklch(94.09% 0.03 246.59);
    --color-azure-blue-200: oklch(88.49% 0.06 245.47);
    --color-azure-blue-300: oklch(80.71% 0.104 245.56);
    --color-azure-blue-400: oklch(74.06% 0.142 246.56);
    --color-azure-blue-500: oklch(67.85% 0.164 248.19);
    --color-azure-blue-600: oklch(61.04% 0.163 250.62);
    --color-azure-blue-700: oklch(53.81% 0.151 252.56);
    --color-azure-blue-800: oklch(46.03% 0.127 252.43);
    --color-azure-blue-900: oklch(37.84% 0.1 251.85);
    --color-azure-blue-950: oklch(14.8% 0.03 260);

    --font-sora: var(--font-sora);
    --font-rethink-sans: var(--font-rethink-sans);
}
